@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    src: url("./fonts/PretendardVariable.ttf");
    font-family: Pretendard;
    font-weight: normal;
}

body{font-family: Pretendard , serif;letter-spacing: -0.025rem}